.container
  .row
    %h2
      All requests
      %span.filters-trigger.filters-hidden
        Show filters


    = simple_form_for search_form, url: request.url, method: :get, html: { class: 'form-horizontal' } do |f|
      .row
        .col-xs-8.col-sm-10
          = f.input :body, placeholder: 'What are you looking for?', label: false
        .col-xs-4.col-sm-2
          = f.submit 'Search', class: 'btn btn-primary search-button'
      .row.search-filters
        .col-xs-7.col-sm-4.col-md-3
          = f.input :state, collection: search_form.states, as: :radio_buttons, checked: search_form.state
        .col-xs-5.col-sm-3.col-md-3
          = f.input :topic_id, collection: search_form.topics
        .col-xs-6.col-sm-3.col-md-3
          = f.input :receiver_id, collection: search_form.users, label: 'Asked by'
        .col-xs-6.col-sm-2.col-md-3
          = f.input :user_id, collection: search_form.users, label: 'Assigned to'

    %table.request
      %thead
        %tr.request__header.request__list
          %th.request__column State
          %th.request__column Updated
          %th.request__column Topic
          %th.request__body Problem
          %th.request__column Asked by
          %th.request__column Assigned to
      %tbody
        - supports.each_with_index do |support, i|
          %tr.request__list
            = render 'list', support: support, index: i
  .row
    .request
      %p= page_entries_info supports
      %p= will_paginate supports, container: false
